.btn
	@include default-button(white,#f7a69c,none)

.btn_blue
	@include default-button(white,#67b6d4,none)

form
	input[type='text'],textarea
		@include default-textfield()
	select
		@include default-select()

.comment-new, .comment
	display: flex
	border-radius: 5px
	flex-wrap: wrap
	align-items: flex-start
	margin: 20px 0

.comment-new--image, .comment--image
	display: block
	height: 115px
	width: 115px
	border-radius: 50%

.comment-new--message
	textarea
		resize: none
		width: 100%
		padding: 20px
		border: none
		position: relative
		&:focus
			outline: none
	border: 2px solid #e9e9e9
	margin: 0 40px
	position: relative
	flex: 1
	z-index: 2
	border-radius: 5px
	&:before
		content: ""
		width: 15px
		height: 15px
		display: block
		background: white
		border: 2px solid #e9e9e9
		position: absolute
		left: -7px
		top: 50px
		transform: rotate(45deg)
		z-index: 0
	
.comment-new--send
	width: 22px
	height: 18px
	display: block
	position: absolute
	background-image: url("../img/common/comment-send.png")
	right: -35px
	bottom: 10px
	cursor: pointer

.comment--message
	margin: 0 40px
	padding: 15px
	position: relative
	flex: 1
	z-index: 2
	background: #efefef
	border-radius: 5px
	&:before
		content: ""
		width: 15px
		height: 15px
		display: block
		background: #efefef
		position: absolute
		left: -5px
		top: 50px
		transform: rotate(45deg)
		z-index: 0

.comment--cite
	width: 20px
	height: 18px
	background-image: url("../img/common/comment-quote.png")
	display: block
	position: absolute
	right: 10px
	top: 10px
	z-index: 0

.comment--message-info
	margin-bottom: 10px
	span._author
		font-size: 16px
		margin-right: 5px
	span._date
		font-size: 13px
		color: #717171

.comment--message-text
	font-size: 13px
	color: #202020

.comment-quote
	background-color: white
	padding: 15px
	margin: 10px 0

.comment-quote--text
	display: block
	padding-left: 10px
	border-left: 3px solid #d4d4d4
	margin-bottom: 5px
	font-size: 13px
	font-style: italic
	color: #717171

.comment-quote--author
	display: inline-block
	margin-left: 13px
	color: #202020
	font-size: 13px
	margin-right: 5px

.comment-quote--date
	font-size: 13px
	font-style: italic
	color: #717171

.like-image_small
	display: block
	transition: all 0.3s
	background-image: url("../img/common/like_small.png")
	height: 17px
	width: 20px
	background-size: cover
	&._active,&:hover
		background-image: url("../img/common/like_small_medicine.png")
	margin-right: 20px

.material
	@include material-shadow()


.rating
	display: flex

.rating--star
	height: 15px
	width: 15px
	margin: 0 2.5px
	background-size: cover
	&:first-child
		margin-left: 0
	&:last-child
		margin-right: 0
	&._filled
		background-image: url("../img/account/star-filled.png")
	&._empty
		background-image: url("../img/account/star-empty.png")

.rating--text
	font-weight: 500
	display: block
	margin-left: 7px

.flex
	display: flex
	flex-wrap: wrap

.flex_space-between
	display: flex
	flex-wrap: wrap
	justify-content: space-between

@media(max-width:991px)	
	.btn,.btn_blue
		display: block
		margin: 0 15px
		text-align: center

@media(max-width:556px)
	.btn,.btn_blue
		display: block
		margin: 0 15px
		text-align: center

@media(max-width: 570px)
	.comment-new--message, .comment--message
		width: 100%
		flex: none
		margin: 20px 0
		&:before
			top: -5px
			left: 50%
			transform: translateX(-50%) rotate(45deg)

	.comment-new, .comment
		justify-content: center

// @media(min-width:768px)
// @media(max-width:768px){}
// @media(min-width:1200px){}


