@mixin blue-dotted-text($text-size)
	display: inline-block
	color: #67b6d4
	border-bottom: 1px dotted #67b6d4
	font-size: $text-size
	&:hover
		text-decoration: none
		color: #337ab7 !important

@mixin focus($padding-bottom)
	&:focus
		padding-bottom: $padding-bottom
		border: none
		outline: none
		border-bottom: 2px solid #71bbd7

@mixin default-select()
	border: none
	border-bottom: 1px solid #cccccc
	padding: 5px 0
	font-size: 14px
	color: #717171
	&:disabled
		background: white
		border-bottom: none
		padding-bottom: 6px
	@include focus(4px)

@mixin default-textfield()
	width: 100%
	display: block
	border: none
	border-bottom: 1px solid #cccccc
	padding: 5px 0
	font-size: 14px
	color: #000
	@include focus(4px)
	&:disabled
		background: white
		border-bottom: none
		padding-bottom: 6px

@mixin default-button($color,$background-color,$float)
	font-size: 14px
	display: inline-block
	text-transform: uppercase
	color: $color
	background-color: $background-color
	border: none
	float: $float
	padding: 10px 15px
	border-radius: 5px
	&:hover
		text-decoration: none
		color: $color
		opacity: 0.8

@mixin before-icon($background-url,$width,$height)
	content: ""
	display: inline-block
	width: $width
	background-image: $background-url
	height: $height
	background-size: cover

@mixin material-shadow()
	box-shadow: 0px 2px 2px #d1d1d2