$background-color: #eeeeee

@import 'colors.sass'
@import 'mixins.sass'
@import 'classes.sass'

a:hover,a:focus
	text-decoration: none
	transition: all 0.3s

div[class*="col"]
	z-index: 1

body
	background-color: $background-color
	font-family: 'Roboto', sans-serif
	position: relative
	padding-bottom: 41px

	&#island-magazine, &#island-search-medicine, &#island-search-market
		.header--logo
			._color
				display: none !important
			._white
				display: inline-block !important

		header
			background: lighten($magazine-primary, 10%)
			color: white
			border-top-color: $magazine-primary
			.header--info-warning, .header--info-messages,.header--menu-text,.header--info-rate-value
				color: white
			.header--user-name
				color: white
				border-bottom-color: white
			.header--info-block:not(:last-child)
				border-color: white
			.header--menu-burger
				display: none 
			img.header--menu-burger._white
				display: block !important
			.header--user-avatar
				background: $magazine-primary
		footer
			background: $magazine-primary
			color: white
		.btn
			background-color: $magazine-accent
		background-color: #eeeeee
		background-image: url("../img/magazine/pattern.png")

		a
			&:hover
				color: #23527c

	&#island-search-medicine
		header
			background: $medicine-primary
			border-top-color: darken($medicine-primary,10%)
			.header--user-avatar
				background: $medicine-primary
		footer
			background: $medicine-primary
			color: white
		.footer--creator-accent
			color: white
			border-bottom-color: white
		.btn
			background-color: $medicine-accent
		background-color: #eeeeee
		background-image: url("../img/medicine/pattern.png")
		.search-item--links
			display: flex
		.search-item--hours
			display: none

	&#island-search-market
		header
			background: $market-primary
			border-top-color: darken($market-primary,10%)
			.header--user-avatar
				background: $market-primary
		footer
			background: $market-primary
			color: white
		.footer--creator-accent
			color: white
			border-bottom-color: white
		.btn
			background-color: $market-accent
		.search-item--links
			display: none
		.search-item--hours
			display: flex
		.background._search-market
			background: $market-primary

		.search-sideblock--header	
			background: $market-primary

		.search--settings-toggler,.search-map,.search-table
			&._active,&:hover
				background-color: darken($market-primary, 30%)

		.checkbox-row
		// TODO сюда надо зеленые чекбоксы
			input[type='checkbox']:not(:checked) + label::before
				background-image: url("../img/common/unchecked-checkbox.png")
			input[type='checkbox']:checked + label::before
				background-image: url("../img/common/checked-checkbox_medicine.png")
		// TODO сюда надо трекер с зеленой точкой внутри
		.timeline
			input[type=range]::-webkit-slider-runnable-track
				background: $market-accent
			input[type=range]::-webkit-slider-thumb
				background-image: url("../img/common/settings-time-selector.png")

		.time-scale
			input[type='checkbox']:not(:checked) + label
				border-bottom-color: $market-primary
			input[type='checkbox']:disabled + label
				border-bottom: 2px solid #b9b9b9
			input[type='checkbox']:checked + label
				border-bottom-color: $market-accent
				background: $market-accent

		.current-result--switcher
			span
				&._active,&:hover
					color: $market-accent
					border-bottom-color: $market-accent

		.dropdown
			& + .content._hours
				.date
					.day
						border-bottom-color: $market-primary
					&._disabled
						.day
							border-bottom-color: #bbbbbb
					&._current
						background: $market-accent
						.day
							border-bottom-color: $market-accent

	&.map
		#map
			display: block

		.search-sideblock
			display: none

		.search-results--items
			padding-right: 0

		.search-item
			cursor: pointer
			width: 100%
			margin: 0
			border-top: 1px solid #e7e4df
			border-left: 1px solid #e7e4df
			&:last-child
				border-bottom: 1px solid #e7e4df
			&:hover,&._selected
				background: #ffeff2

		.search-results--count,.search-results--type
			display: none

		.search-results-details
			padding: 0

			.current-result,.current-details
				margin-right: -10px

			.current-result--address
				display: flex
				align-items: center
				&:before
					content: ""
					display: block
					background-image: url("../img/common/address-pointer_market.png")
					background-size: cover
					height: 18px
					width: 14px
					margin-right: 10px

			.comment-new--message, .comment--message
				width: 100%
				flex: none
				margin: 20px 0
				&:before
					top: -5px
					left: 50%
					transform: translateX(-50%) rotate(45deg)

			.comment-new, .comment
				justify-content: center
			
			.comment-new--send
				right: -28px


.background
	width: 100%
	position: relative
	z-index: 0
	&._white
		background-color: white
	&._magazine
		background-color: $magazine-primary
		color: white
	&._magazine-pattern
		padding-bottom: 150px
		padding-top: 60px
	&._search-market
		background: $medicine-primary 
		margin-bottom: 15px
		z-index: 1

.island-title
	font-size: 56px
	font-weight: 400
	&._magazine
		margin-top: 75px
		color: white
		text-align: center

.island-description
	font-size: 20px
	font-weight: 400
	&._magazine
		color: white
		text-align: center
		margin-top: 0

#map
	width: 100%
	height: 100%
	position: fixed
	top: 0
	left: 0
	bottom: 0
	right: 0
	z-index: 0
	display: none

@import 'header/header.sass'
@import 'account/main.sass'
@import 'magazine/main.sass'
@import 'search/main.sass'
@import 'footer/footer.sass'

body
	margin: 0

@media(max-width: 558px)
	.background
		&._magazine-pattern
			padding-top: 280px
